<<<<<<< HEAD
img{
	max-width: 100%;
}
header{
	background-image: url("../img/background/hero.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
header section{
	background: rgba(0, 0, 0, 0.5);
=======
header{
	background-image: url("../img/background/hero.jpg");
	background-size: 100%;
}
header section{
	background: rgba(0, 0, 0, 0.5);
	height: 800px;
>>>>>>> e360496c26f2bd136eba193f9b6c21b3f2a64842
}
*{
	font-family: "Open Sans";
}
body{
	text-align: center;
}
.star{
	font-size: 20px;
	text-align: left;
}
.menu ul{
	list-style-type: none;
}
.menu li{
	display: inline;
	margin-right: 30px;
}
.menu a:hover{
	color: #0dc0c0;
}
.menu a{
	color: #FFFFFF;
	font-weight: bolder;
	font-size: 20px;
}
.titulo{
<<<<<<< HEAD
	font-size: 3em;
}
.parrafo{
	margin-top: 3%;
}
.our {
	padding: 15px;
	background: #3C3C3C;
	display: inline-block;
	margin: 5% 5% 20% 5%;
}
.learn {
	padding: 15px;
	background: rgba(0, 0, 0, 0.3);
	display: inline-block;
	margin: 5% 0 20% 0;
}
/*estilos de servicios*/
.servicios i{
	font-size: 3em;
}
.servicios p{
	font-size: 12px;
	width: 70%;
	margin-left: 15%;
}
.servicios h2{
	font-size: 16px;
}
/*estilos de banner*/
.laptop h1{
	font-size: 2em;
	font-weight: 500;
}
.laptop img{
	max-width: 70%;
}
/*estilos de parrafo*/
.parrafos i{
	font-size: 2em;
	float: left;
	margin-top: 7%;
}
.parrafos h3{
	font-size: 16px;
	margin-left: 7%;
	margin-top: 7%;
}
.parrafos p{
	font-size: 14px;
	margin-left: 7%;
	width: 80%;
}
/*estilos de portafolio*/
.portfolio h1{
	font-size: 2em;
	font-weight: 500;
	color: #434242;
	margin-bottom: 10px;
}
.portfolio p{
	margin-bottom: 10px;
}
.portfolio ul{
	list-style-type: none;
}
.portfolio li{
	display: inline-block;
	margin: 10px 5px;
}
.portfolio a{
	color: #050505;
	font-weight: 700;
	background-color: #FFFFFF;
	padding: 10px;
}
.portfolio a:hover{
	background-color: #4DD7CF;
	color: #FFFFFF;	
}
.foto{
	background-color: #FFFFFF;
	margin-top: 10px;
	padding: 10px;
	margin-bottom: 10px;
	border: groove 1px;
}
.foto h3{
	font-size: 16px;
}
.foto p{
	font-size: 14px;
	color: gray;
	margin-bottom: 10px;
}
.load{
	background: rgba(37, 40, 67, 0.9);
	color: #D5D3D3;
	padding: 15px;
	border: none 1px black;
	font-size: 14px;
	font-weight: 600;
	margin-top: 50px;
}
.portfolio{
	padding: 20px 120px;
}
/*estilos de edificio*/
.edificio{
	background-image: url("../img/background/city.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.edif{
	background: rgba(0, 0, 0, 0.5);
	margin: 20px 0px;
	padding: 180px;
}
.edif p{
	font-size: 22px;
	width: 700px;
	margin: 20px 100px;
}
.edif h5{
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	font-size: 18px;
	width: 200px;
	margin-left: 40%;
}
=======
	font-size: 4em;
}
.1{
	height: 220px;
	width: 220px;
}
.contact {
	background-image: url("../img/background/contactus.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.content{
	background: rgba(0, 0, 0, 0.5);
}
.contact h1{
	color:white;
	margin-top: 30px;
}
.contact h3 {
	color:white;
	margin-top: 20px;
	margin-right: 260px;

}
.contact p{
	color:white;
	margin-top: 20px;
}
.texto{
	margin-left: 150px;
	text-align: center;
	width: 500px;
	color: white;
	text-align: left;
}
.contact h5 {
	margin-top: 20px;
	margin-right: 40px;
	color:white;
	text-align: center;
}
.contact i{
	margin-right: 5px;
}
.contact form{
	margin-left:130px;
	text-align: left;
	margin-top: 15px;
	}
.contact input {
	margin-top: 15px;
	margin-bottom: 10px;
	width: 100%
}
.contact textarea {
	padding: 10px;
	width: 100%;
}
.submit {
	background-color: #04C2B2;
	width: 100px;
	height: 40px;
	margin-left: 130px;
	margin-top: 43px;
}
.submit a {
	color: white;
	text-decoration: none;
	margin-left: 15px;
	margin-top: 5px;
}
.choose{
	background-color: #E0DBDB;
	width:100%;
	height: 100%;
}
.choose h1{
	color: #767171;
	margin-top: 50px;
}
.choose p {
	color: #A69B9B;
	margin-top: 15px;
}
.packs{
	background-color: #FFFFFF;
	width: 300px;
	height: 400px;
	margin-left: 30px;
	margin-top: 10px;
}
.titulo {
	background-color: black;
	width: 150px;
	height: 50px;
	margin-left: 70px;
}
.choose h3 {
	font-size: 14px;
	color: white;
	padding: 12px;
}
.precio {
	background-color:#BAB1B1;
	width: 150px;
	height: 50px;
	margin-left: 70px;
}
.color{
	background-color: #04C2B2;
	width: 150px;
	height: 50px;
	margin-left: 70px;
}
.from {
	background-color:#BAB1B1;
	width: 150px;
	height: 50px;
	margin-left: 70px;
}
.choose button {
	background-color: #4C4949;
	color: #DCCFCF;
}
span {
	font-size: 12px;
	}
hr {
	margin-left: 25px;
}
.choose h6,h4 {
	text-align: center;
	margin-top: 10px;
}
.cometarios {
	width: 70%;
	height:70%;

}
.cometarios h2 {
	margin-top: 30px;
	color: #CAC4C4;
	margin-left: 50%
}
.cometarios img {
	border-radius: 120%;
	width: 100px;
	height: 100px;
	margin-top: 30px;
	margin-left: 50%
}
.cometarios p {
margin-left: 50%;
}
.cometarios h5 {
	margin-left: 50%;
}
>>>>>>> e360496c26f2bd136eba193f9b6c21b3f2a64842
